@{
    ViewBag.Title = "Image Processing Manager | Same Resolution";
}
<br />

<form action="SameResolution" method="post" enctype="multipart/form-data">

    <label for="MyImage">My Image</label>
    <input type="file" id="MyImage" name="MyImage">
    <br />
    <button type="submit">Save</button>

</form>